@model IEnumerable<ControlDePersonal.Models.Puesto>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table" id="tblPuestos">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.strPruesto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.intIdDepto)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.strPruesto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.intIdDepto)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.intIdPuesto">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.intIdPuesto">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.intIdPuesto">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<button onclick="exportData()">
   <span class="glyphicon glyphicon-download"></span>
   Descargar Reporte
</button>

<script>
function exportData(){
    var table = document.getElementById("tblPersonas");
 
    var rows =[];
 
    for(var i=0,row; row = table.rows[i];i++){
        
        column1 = row.cells[0].innerText;
        column2 = row.cells[1].innerText;
 
    
        rows.push(
            [
                column1,
                column2
            ]
        );
 
        }
        csvContent = "data:text/csv;charset=utf-8,";
         
        rows.forEach(function(rowArray){
            row = rowArray.join(",");
            csvContent += row + "\r\n";
        });
 
        
        var encodedUri = encodeURI(csvContent);
        var link = document.createElement("a");
        link.setAttribute("href", encodedUri);
        link.setAttribute("download", "Reporte_Puestos.csv");
        document.body.appendChild(link);
         
        link.click();
}
</script>
