@model ControlDePersonal.Models.Persona

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Persona</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.strNombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.strNombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.strApellido)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.strApellido)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.dateFecNacimiento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.dateFecNacimiento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.dblCUI)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.dblCUI)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.strNIT)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.strNIT)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.intIdGenero)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.intIdGenero)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.intIdPersona">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
