@model IEnumerable<ControlDePersonal.Models.Persona>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table" id="tblPersonas">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.intIdPersona)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.strNombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.strApellido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.dateFecNacimiento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.dblCUI)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.strNIT)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.intIdGenero)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.intIdPersona)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.strNombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.strApellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dateFecNacimiento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dblCUI)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.strNIT)
            </td>
            <td>
                @if(item.intIdGenero == 1){
                    @Html.Label("Masculino")
                }else{
                    @Html.Label("Femenino")
                }
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.intIdPersona">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.intIdPersona">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.intIdPersona">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<button onclick="exportData()">
   <span class="glyphicon glyphicon-download"></span>
   Descargar Reporte
</button>

<script>
function exportData(){
    var table = document.getElementById("tblPersonas");
 
    var rows =[];
 
    for(var i=0,row; row = table.rows[i];i++){
        
        column1 = row.cells[0].innerText;
        column2 = row.cells[1].innerText;
        column3 = row.cells[2].innerText;
        column4 = row.cells[3].innerText;
        column5 = row.cells[4].innerText;
        column6 = row.cells[5].innerText;
        column7 = row.cells[6].innerText;
 
    
        rows.push(
            [
                column1,
                column2,
                column3,
                column4,
                column5,
                column6,
                column7
            ]
        );
 
        }
        csvContent = "data:text/csv;charset=utf-8,";
         
        rows.forEach(function(rowArray){
            row = rowArray.join(",");
            csvContent += row + "\r\n";
        });
 
        
        var encodedUri = encodeURI(csvContent);
        var link = document.createElement("a");
        link.setAttribute("href", encodedUri);
        link.setAttribute("download", "Reporte_Personas.csv");
        document.body.appendChild(link);
         
        link.click();
}
</script>
