@model ControlDePersonal.Models.Empleado

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Empleado</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.intIdPersona)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.intIdPersona)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.intIdPuesto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.intIdPuesto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.dateFecContratacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.dateFecContratacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.dcmSalario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.dcmSalario)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.intIdEmpleado">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
